*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --txt-clr-prm: black;
  --bg-clr-prm: white;
}

:root.invert {
  --txt-clr-prm: white;
  --bg-clr-prm: #181a1b;
}

body {
  margin: 0;
  color: var(--txt-clr-prm);
  background-color: var(--bg-clr-prm);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --txt-clr-prm: white;
    --bg-clr-prm: #181a1b;
  }

  :root.invert {
    --txt-clr-prm: black;
    --bg-clr-prm: white;
  }
}
