.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em 0;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.contact__container {
  padding-top: 1em;
}

.info__title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #c49b66;
  font-size: 0.75rem;
  margin-top: 1.5em;
}

.info__content {
  color: gray;
  margin-top: 0.5em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em 0;
  align-items: flex-start;
}

.form__input {
  width: 100%;
  background-color: rgb(243, 241, 241);
  border: none;
  border-radius: 30px;
  padding: 1.25em 1em;
}

.form__input::placeholder {
  font-weight: bold;
  font-weight: 500;
}

.form__submit {
  width: max-content;
  background-color: #c49b66;
  color: #fff;
  border: none;
  padding: 1em 2em;
  border-radius: 30px;
  font-weight: 600;
  align-self: flex-end;
  cursor: not-allowed;
  transition: transform 0.3s ease;
}

.form__submit:hover {
  transform: scale(1.05);
}

@media (min-width: 900px) {
  .contact__container {
    display: flex;
  }

  .info {
    flex: 1.5;
  }

  .form {
    flex: 2;
  }
}
