.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__container {
  padding: 2em 0;
  position: relative;
}

.nav__logo {
  font-weight: bold;
  font-size: 1rem;
}

.nav__toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  transition: opacity 250ms ease;

  position: absolute;
  right: 0;
  top: 1em;
}

.nav__toggle:focus,
.nav__toggle:hover,
.nav__link:focus,
.nav__link:hover {
  opacity: 0.6;
}

.nav {
  display: none;
}

.nav__visible {
  display: block;
  transition: all 2s ease;
}

.nav__list {
  list-style: none;
  text-transform: uppercase;
  text-align: center;
}

.nav__item + .nav__item {
  margin-top: 0.5em;
}

.nav__link {
  text-decoration: none;
}

.themeactive {
  filter: grayscale(1);
  cursor: pointer;
}

@media (min-width: 900px) {
  .nav__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .nav__toggle {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .nav__list {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .nav__item + .nav__item {
    margin-top: 0;
  }

  .nav__item:first-child {
    margin-left: auto;
  }

  .nav__theme {
    margin-left: auto;
  }
}
